@page
@model IndexModel
@{
    ViewData["Title"] = "Recipe Collection Landing Page";
}

<div class="text-center">
    <h1 class="display-4">Recipe Collection Site - Under Construction</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortType="@Model.TitleSort">
                        @Html.DisplayNameFor(model => model.Recipes[0].Title)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortType="@Model.CategorySort">
                        @Html.DisplayNameFor(model => model.Recipes[0].Category)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortType="@Model.PrepTimeSort">
                        @Html.DisplayNameFor(model => model.Recipes[0].PrepTime)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortType="@Model.CookTimeSort">
                        @Html.DisplayNameFor(model => model.Recipes[0].CookTime)
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortType="@Model.FeedsQtySort">
                        @Html.DisplayNameFor(model => model.Recipes[0].FeedsQty)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipes[0].PhotoPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipes[0].Instructions)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Recipes) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => r.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.PrepTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.CookTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.FeedsQty)
                    </td>
                    <td>
                        <img src="@r.PhotoPath" class="img-thumbnail customImageSize" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.Instructions)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
